.container {
  display: block;
  max-width: 70%;
  margin: 1rem auto;
}

.image-container {
  background-size: cover;
  max-height: 400px;
}

.critter-image {
  width: auto;
  max-width: 100%;
  height: auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-field {
  width: 50%;
}

.card-container {
  max-width: 400px;
}

mat-grid-tile {
  background-color: lightblue;
}

table {
  width: 100%;
}

.header {
  margin: 1rem 0;
}
