mat-sidenav {
  width: 200px;
}

.sidenav-container {
  // height: 100%;
}

.sidenav {
  background-color: #fff3e0; // TODO: Fix how we do background color with theme
}

.sidenav-content {
  height: 95vh; // TODO: fix this
  padding: 16px;
  background-color: #fff3e0; // TODO: Fix how we do background color with theme
}

.sidenav-option {
  display: flex;
  align-items: center;
  padding: 1rem;
}
